 /* Video ve açıklama için yeni stil tanımlamaları */
 .video-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .video-aciklama {
    background-color: #f8f9fa; /* Açıklama arka plan rengi */
    border-left: 5px solid #007bff; /* Sol tarafta mavi bir çizgi */
    padding: 10px; /* İç boşluk */
    margin-left: 20px; /* Soldan boşluk */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Gölge efekti */
    font-family: 'Arial', sans-serif; /* Yazı tipi */
    color: #333; /* Yazı rengi */
    width: 100%; /* Tam genişlik */
  }

  .video-iframe {
    flex: 1; /* Videoyu esnek yap */
    margin-right: 20px; /* Sağdan boşluk */
  }
  .card-img-top {
  
  height: 500px; /* Resmin orijinal boyutunu koru */
}
.card-body {
  font-family: Arial, sans-serif; /* Yazı tipi */
  color:rgb(51, 104, 153); /* Yazı rengi */
  font-size: 16px; /* Yazı boyutu */
  line-height: 1.6; /* Satır yüksekliği */
}

.card-title {
  color: #007bff; /* Başlık rengi */
  font-size: 24px; /* Başlık boyutu */
  font-weight: bold; /* Kalın font */
}

.card-text {
  font-size: 18px; /* Kart metni boyutu */
}

